*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

/* -------------------------------------------- */

.main {
    flex: 1 1 auto;
}

body {
    position: relative;
    font-family: Poppins;
    font-size: 14px;
    color: var(--theme-body, #161414);
    font-weight: 400;
    background-color: #fff;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* ------------------------------------- */

._ibg {
    position: relative;
}

._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 0px 0px 60px 60px;
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 84%;
    top: 0;
    left: 0;
}

/* ==header===================================================================== */

.header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    align-items: center;
    padding: 32px 0px 0px 0px;
}

.header__menu {
    display: flex;
    justify-content: center;
}

.menu {
    flex: 1 1 auto;
}

.menu__body {
    display: flex;
}

.menu__list {   
    display: flex;
}

.menu__item:not(:last-child) {
    margin: 0px 48px 0px 0px;
}

.menu__link {
    color: var(--theme-white, #FFF);
}

.menu__link:hover {
    text-decoration: underline;
}

.header__acc {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.header__acc img {
    border-radius: 50%;
}

.header__offline {
    position: absolute;
    right: 0px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid var(--theme-body, #161414);
    background: var(--theme-red, #F00);
}

.acc__text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.acc__text-holla {
    line-height: 20px;
    opacity: 0.5;
    color: var(--theme-white, #FFF);
}

.acc__text-ales {
    line-height: 20px;
    text-transform: capitalize;
    color: var(--theme-white, #FFF);
}

/* --BURGER------------------------------------------------------- */

.header__burger {
    display: none;
    position: relative;
    z-index: 50;
    height: 20px;
    width: 25px;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 0px 0px 10px;
}

.header__burger span {
    background-color: #fff;
    height: 2px;
    width: 100%;
    transform: scale(1);
}

.header__burger::before, .header__burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease 0s;
}

.header__burger::after {
    bottom: 0;
}

.header__burger::before {
    top: 0;
}

/* ------------------------------------ */

.header__burger.active span {transform: scale(0);}

.header__burger.active::before {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.header__burger.active::after {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

/* ---DISCOVER-----------------------------------------------------------*/

.discover {
    margin: 184px 0px 0px 0px;
}

.discover__container {
   text-align: center;
   position: relative;
   z-index: 2;
}

.discover__places {
    margin: 0px 0px 184px 0px;
}

.places-discover__title {
    color: #FFF;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px; 
}

.places-discover__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0px 0px 0px;
}

.places-discover__button a {
    color: var(--theme-white, #FFF);
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 12px;
    background: var(--theme-primary, #7B61FF);
    padding: 27px;
    transition: all 0.3s ease 0s;
}

.places-discover__button a:hover {
    background: var(--theme-primary, #6a4dfc); 
}

/* ----------------------------------------- */

.card {
    position: relative;
    border-radius: 12px;
    background: var(--theme-white, #FFF);
    max-width: 1140px;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    align-items: center;
}

.card__block {
    display: flex;
    align-items: center;
    padding: 16px 20px 16px 16px;
    display: flex;
}

.card__block:nth-child(2) {
    padding: 16px 102px 16px 16px;
}

.card__block:nth-child(3) {
    padding: 16px 80px 16px 16px;
}

.card__block:nth-child(4) {
    padding: 16px 141px 16px 16px;
}

.block-card__img {
    cursor: pointer;
}

.block-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px 0px 16px;
    cursor: pointer;
}

.block-card__text {
    color: var(--theme-body-muted, #979797);
    line-height: 20px;
}

.block-card__title {
    color: var(--theme-body, #161414);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
}

.discover__loop {
    display: flex;
    padding: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--theme-primary, #7B61FF);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.discover__loop:hover {
    background: var(--theme-primary, #6a4dfc); 
}

/* --POPULAR----------------------------------------------- */

.popular {
    margin: 240px 0px 0px 0px;
}

.popular__container {
    max-width: 100%;
}

.popular__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;  
}

.popular__block {
    display: flex;
    align-items: center;
    margin: 64px 0px 0px 0px;
}

.block-popular__section:not(:last-child) {
    margin: 0px 32px 0px 0px;
}

.block-popular__img img {
    border-radius: 24px;
    max-width: 100%;
    transition: all 0.5s ease 0s;
}

.block-popular__img img:hover {
    transform: translate(0, -20px);
}

.block-popular__img img:active {
    transform: scale(1.2);
}

.block-popular__title {
    margin: 8px 0px 0px 0px;
    font-size: 16px;
    line-height: 24px; 
}

.block-popular__text {
    color: var(--theme-body-muted, #979797);
    line-height: 20px;
}

/* --HOTELS--------------------------------------------------------------------------- */

.hotels {
    margin: 120px 0px 0px 0px;
}

.hotels__container {
    max-width: 100%;
}

.block__title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hotels__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px; 
}

.hotels__img img {
    max-width: 100%;
    cursor: pointer;
}

.hotels__block {
    display: flex;
    align-items: center;
    margin: 64px 0px 0px 0px;
}

.block-hotels__section:not(:last-child) {
    margin: 0px 32px 0px 0px;
}

.block-hotels__img {
    border-radius: 24px;
    overflow: hidden;
}

.block-hotels__img img {
    border-radius: 24px;
    max-width: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0s;
}

.block-hotels__img img:hover {
    transform: scale(1.1);
}

.block-hotels__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 10px 0px 0px 0px;
}

.block-hotels__box {
    display: flex;
    position: relative;
    align-items: center;
    margin: 8px 0px 0px 0px;
}

.img-title__box {
    display: flex;
    align-items: center;
}

.box-hotels__img img {
    max-width: 100%;
}

.box-hotels__text {
    margin: 0px 0px 0px 4px;
}

.box-hotels__stars img {
    position: absolute;
    right: 0;
    top: 0;
}

.hotel__view {
    display: none;
    justify-content: end;
    margin: 30px 0px 0px 0px;
    max-width: 100%;
}

/* -MODEL-Logo----------------------- */

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 50;
    display: none;
}

.pop-up img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 50px;
    max-width: 50%;
}

.pop-up span {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #fff;
    font-size: 50px;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    cursor: pointer;
}

/* --ADVICE------------------------------ */

.advice {
    margin: 120px 0px 0px 0px;
}

.advice__container {
    max-width: 100%;
}

.hotels__img-2 img {
    max-width: 100%;
    cursor: pointer;
}

.advice-box {
    display: flex;
    align-items: center;
}

.advice-box:not(:last-child) {
    margin: 0px 32px 0px 0px;
}

.advice__block {
    display: flex;
    align-items: center;
    margin: 64px 0px 0px 0px;
}

.block-advice__img img {
    border-radius: 24px;
}

.spawn {
    display: none;
}

.spawn {
    max-width: 100%;
}

.block-advice__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    margin: 0px 0px 0px 32px;
    max-width: 316px;  
}

.block-advice__box-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.block-advice__box-text {
    color: var(--theme-body-muted, #979797);
    font-size: 16px;
    line-height: 24px;
}

.block-advice__box-img img:last-child {
    cursor: pointer;
}

.block-advice__box-img img:not(:last-child) {
    margin: 0px 24px 0px 0px;
}

.hotel__view-2 {
    display: none;
    justify-content: end;
    margin: 30px 0px 0px 0px;
    max-width: 100%;
}

/* --ACTIVITIES---------------------------------------------------------------- */

.activities {
    margin: 120px 0px 0px 0px;
}

.activities__container {
    max-width: 100%;
}

.activities__block {
    display: flex;
    align-items: center;
    margin: 64px 0px 0px 0px;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

.block-activities__section {
    max-width: 100%;
}

.block-activities__img img {
    border-radius: 24px;
    max-width: 100%;
}

.block-activities__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 16px 0px 0px 0px;
}

.hotels__img-3 img {
    max-width: 100%;
    cursor: pointer;
}

.hotel__view-3 {
    display: none;
    justify-content: end;
    margin: 30px 0px 0px 0px;
    max-width: 100%;
}

/* --ABOUT------------------------------------------------------------- */

.about {
    margin: 120px 0px 0px 0px;
}

.about__container {
    display: flex;
    align-items: center;
    max-width: 1128px;
    justify-content: center;
    flex-wrap: wrap;
}

.about__content {
    max-width: 548px;
    margin: 0px 32px 0px 0px;
}

.content-about__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;  
}

.content-about__text {
    color: #5B5B5B;
    font-size: 16px;
    line-height: 32px;
    margin: 32px 0px 0px 0px;
}

.content-about__bth img {
    margin: 32px 0px 0px 0px;
    max-width: 100%;
}

.about__img img {
    border-radius: 24px;
    max-width: 100%;
}

/* --FOOTER------------------------------------------------------------------------- */

.footer {
    margin: 120px 0px 0px 0px;
    background: #F9F9F9;
}

.footer__container {
    padding: 120px 0px 120px 0px;
    display: flex;
    align-items: center;
    gap: 64px;
}

.footer__section-social {
    display: flex;
    flex-direction: column;
}

.social-section__logo img {
    max-width: 100%;
}

.social-section__text {
    color: var(--theme-body-muted, #979797);
    line-height: 20px;
    margin: 16px 0px 0px 0px;
    max-width: 355px;
}

.social-section__img {
    margin: 32px 0px 0px 0px;
}

.social-section__img img {
    max-width: 100%;
}

.social-section__img a:not(:last-child) {
    margin: 0px 32px 0px 0px;
}

/* ---------------------------------------------- */

.footer__columns {
    display: flex;
    align-items: center;
    max-height: 164px;
    gap: 64px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 126px;
}

.footer-column ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.footer__list-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px; 
    margin: 0px 0px 8px 0px;
}

.footer-column ul a {
    color: var(--theme-body-muted, #979797);
    line-height: 20px;
}

/* --------------------------------------------------- */

.footer__subscribe {
    max-width: 100%;
}

.subscribe-footer__title {
}
.subscribe-footer__box {
}
.box-subscribe__footer {
}
.box-subscribe__footer-img {
}
.box-subscribe__footer-content {
}
.content-subscribe__footer {
}
.content-subscribe__footer-text {
}
.content-subscribe__footer-email {
}
.subscribe-footer__button {
}